html, body {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

a:hover {
  text-decoration: underline;
}

a > * {
  vertical-align: middle;
}

#me {
  overflow: hidden;
  background-image: url('/images/avatar-face.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10em 10em;
  background-origin: content-box;
  width: 10em;
  height: 10em;
  border-radius: 1000px;
}

.nav a {
  font-family: Mina;
}

h4 {
  font-family: Mina;
  margin-bottom: 1em;
}

p {
  font-family: Asar;
}

.lang {
  text-align: right;
}

@media (max-width: 1024px) {
  #me {
    background-size: 7em 7em;
    width: 7em;
    height: 7em;
  }
}

@media (max-width: 600px) {
  #me {
    background-size: 5em 5em;
    width: 5em;
    height: 5em;
  }
}

@media (max-width: 320px) {
  #me  {
    background-size: 3em 3em;
    width: 3em;
    height: 3em;
  }
}