html, body {
  font-family: 'Asar', serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  background: #222;
  color: #d0d0d0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

strong {
  color: #f0e68c;
}

section {
  max-width: 1024px;
  margin: auto;
  padding: 10% 5%;
}

.text-center {
  text-align: center;
}

#me-image, #content {
  display: inline-block;
  vertical-align: top;
}
#me-image {
  width: 20%;
}
#me-image > img {
  width: 100%;
  border-radius: 100px;
  border: .3em solid #d0d0d0;
}

/* content */
#content {
  width: 75%;
  font-size: 1.2em;
  padding-left:5%;
}
#links {
  padding-top: 20%;
}
#links a {
  text-decoration: none;
  margin: .1em;
  display: inline-block;
  vertical-align: middle;
}
#links a > img {
  height: 1.4em;
}

@media (max-width: 600px) {
  html, body {
    font-size: 16px;
  }
}